@model StockListViewModel

@foreach (var item in Model.ListStockList)
{
    <div class="modal fade" id="updateStockListModal-@item.Id" aria-labelledby="updateStockListLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="updateStockListModalLabel">Stok Güncelle</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    
                    <form asp-action="Update" asp-controller="StockList" method="post" class="mt-4">
                        <div class="modal-body">
                            <input class="form-control" asp-for="@item.Id" name="Id" type="hidden" />
                            <input type="hidden" asp-for="@item.IdShelf" name="IdShelf" />
                            <input type="hidden" asp-for="@item.IdCabinet" name="IdCabinet" />

                            <div class="form-group">
                                <label class="text-dark" for="Name">Stok Birim Kodu</label>
                                <div class="col-4">
                                    <input class="form-control" asp-for="@item.StockCode" name="StockCode" />
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <label asp-for="@item.IdStockClass">Stok Sınıfı</label>
                                <select name="IdStockClass" asp-for="@item.IdStockClass," asp-items="@Model.StockClassItems" class="form-control">
                                    <option value="">-- Select --</option>
                                </select>
                                <span asp-validation-for="@item.IdStockClass" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="@item.IdStockType">Stok Türü</label>
                                <select name="IdStockType" asp-for="@item.IdStockType" asp-items="@Model.StockTypeItems" class="form-control">
                                    <option value="">-- Select --</option>
                                </select>
                                <span asp-validation-for="@item.IdStockType" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="@item.IdStockUnit">Stok Birim Adı</label>
                                <select name="IdStockUnit" asp-for="@item.IdStockUnit" asp-items="@Model.StockUnitItems" class="form-control">
                                    <option value="">-- Select --</option>
                                </select>
                                <span asp-validation-for="@item.IdStockUnit" class="text-danger"></span>
                            </div>
                            <br />
                            <div class="form-group">
                                <label class="text-dark" for="Name">Miktar</label>
                                <div class="col-4">
                                    <input class="form-control" asp-for="@item.Amount" name="Amount" />
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <label class="text-dark" for="Name">Raf Bilgisi</label>
                                <div class="col-4">
                                    <input class="form-control" asp-for="@item.IdShelf" name="IdShelf" />
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <label class="text-dark" for="Name">Dolap Bilgisi</label>
                                <div class="col-4">
                                    <input class="form-control" asp-for="@item.IdCabinet" name="IdCabinet" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="text-dark" for="Name">Kritik Miktar</label>
                                <div class="col-4">
                                    <input class="form-control" asp-for="@item.CriticalAmount" name="CriticalAmount" />
                                </div>
                            </div>
                            <button class="btn btn-danger" type="submit">Güncelle</button>
                            <button class="btn btn-dark" type="button" data-dismiss="modal">İptal</button>
                            <br />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}